html,body {
  font-family: 'Open Sans', serif;
  background: #F2F6FA;
}
footer {
  background-color: #F2F6FA !important;
}
/*.topNav {
  border-top: 5px solid #3498DB;
}*/
.topNav .container {
  border-bottom: 1px solid #E6EAEE;
}
.container .columns {
  margin: 3rem 0;
}
.navbar-menu .navbar-item {
  padding: 0 2rem;
}
aside.menu {
  padding-top: 3rem;
}
aside.menu .menu-list {
  line-height: 1.5;
}
aside.menu .menu-label {
  padding-left: 10px;
  font-weight: 700;
}
.button.is-primary.is-alt {
  background: #3498DB;

  font-weight: 700;
  font-size: 14px;
  height: 3rem;
  line-height: 2.8;
}
.media-left img {
  border-radius: 50%;
}
.media-content p {
  font-size: 14px;
  line-height: 2.3;
  font-weight: 700;
  color: #8F99A3;
}
article.post {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #E6EAEE;
}
article.post:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.menu-list li{
  padding: 5px;
}
.navbar-item img {
    max-height: unset;

    border-radius: 2px;
}
.navbar-brand>.navbar-item:first-child{
    padding:unset;
    display: block;
    line-height: 15px;
    padding-top: 10px;
}
.navbar-brand>.navbar-item:first-child>h1{
    font-size:150%;
}
.navbar-menu{
    margin-left:35px;
}
@media only screen and (max-width: 1082px) {
    .spanbefore{
        display:none!important;
    }
    .spanafter{
        display:none!important;
    }
}
.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color:black;
}
.card-image {
position: relative;
text-align: center;
color: white;

}
.rating {
unicode-bidi: bidi-override;
direction: rtl;

}

.rating input {
position: absolute;
left: -999999px;
}

.rating label {
display: inline-block;
font-size: 0;
}

.rating > label:before {
position: relative;
font: 15px/1 FontAwesome;
display: block;
content: "\f005";
color: #ccc;
background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > label.selected:before,
.rating > label.selected ~ label:before {
color: #f0ad4e;
background: -webkit-linear-gradient(-45deg, #fcb551 0%, #d69a45 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.title-widget{
text-align: center;
position: relative;
}
.spanbefore, .spanafter{
width:40%;
}
.spanbefore>hr{
width: 40%;
float: left;
height: 1px;
background-color: #aaa;
vertical-align:middle;
}

.spanafter>hr{
width: 40%;
float: right;
height: 1px;
background-color: #aaa;
vertical-align:middle;
}
.spanbefore>hr{
width: 40%;
float: left;
height: 1px;
background-color: #aaa;
vertical-align:middle;
}
.is-128x128{
overflow: hidden;
}
