#app>.container{
    max-width: unset!important;
    margin-top:10px!important;
}

.breadcrumb{
    padding-left: 0.7rem;
    margin-bottom:unset!important;
}
@media only screen and (max-width: 600px) {
table, input{
    font-size: 0.7rem!important;
}
.button{
    font-size: 0.7rem!important;
}
.navbar-dropdown{
    display:none;
}
}

@media only screen and (min-width: 600px) {
.container{
    width:80%;
    margin:0px auto;
}
}
.navbar-brand, .navbar-menu{
    margin-left: unset!important;
    margin-right: unset!important;
}
.is-dark{
    background-color: rgb(1, 115, 158)!important;
    color: white!important;
}
.menu-item:hover{
    background-color: rgb(1, 115, 158)!important;
    color: white!important;
}
.display-me{
    display:block!important;
}
.navbar-link{
    border-bottom: 1px solid rgb(1, 115, 158)!important;
}
.navbar{
    background-color:#eee;
}
.addcart{
    position: absolute;
    right: 10px;
    bottom: 10px;
    
}
